<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <linK rel="icon" type="image/x-icon" href="{{ url_for('static', filename='japan_fav.png') }}">
    <title>Japan Adventures</title>
</head>

<body>
    <!-- header -->
    <div class="header d-flex justify-content-evenly align-items-center">
        <h1>Japan Adventures</h1>
        <ul class="nav-links d-flex justify-content-center">
            <li>
                <a href="/" class="whiten">Home</a>
            </li>
            {% if 'user_id' in session %}
            <li>
                <a href="/users/logout" class="whiten">Logout</a>
            </li>
            {% else %}
            {% endif %}
        </ul>
    </div>

    <div class="cont mx-auto">
        <table class="table table-hover">
            <tr class="table-secondary">
                <th>Name</th>
                <th>Type</th>
                <th>Address</th>
            </tr>
            {% for place in all_places %}
            <tr class="table-light">
                <td>
                    <a id="table-links" href="/places/{{place.id}}/view">
                        {{place.name}}
                    </a>
                </td>
                <td>{{place.type}}</td>
                <td>{{place.addr}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>

</html>